body{
    background-color: rgb(35, 146, 146);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    padding: 10px;
    background-color: white;
    margin: auto;
    width:320px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.712);
    margin-top: 20px;
}
input{
    text-align: center;
}
img{
    width:150px;
    height:150px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
section  div.tabuada{
    overflow-y:auto;
    max-height: 100px;
    width: 150px;
    background-color: rgb(168, 149, 149);
    color: white;
    padding: 10px;
    border-radius: 10px;
}