@charset "UTF-8";

body{
    background-color: rgb(191, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
h1{
    color: aliceblue;
    background-color: brown;
}
h2{
    color: brown;
}