/* Telas em modo deitado*/
html,body{
   background-color: orange;
   background-image: url('cev-landscape.jpg');
   background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center right;
}